@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bowlers</h1>
</div>

@model List<Bowler>

<h1>Bowlers</h1>

<ul>
    @foreach (var b in Model)
    {
        <li>@b.BowlerID</li>
        <li>@b.BowlerFirstName @b.BowlerMiddleInit @b.BowlerLastName</li>
        <li>@b.BowlerAddress</li>
        <li>@b.BowlerCity @b.BowlerState, @b.BowlerZip</li>
        <li>@b.BowlerPhoneNumber</li>
    }
</ul>
